@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Pandaloan tracks loans and payments between a lender and a borrower.
    Pandaloan will email both the lender and borrower automatically reminding each user about the loan.
    The point of Pandaloan is to eliminate awkwardness in reminding someone that they owe you money.
    Monthly statements are sent out instead.
    You can also view the credit score from the borrower by each loan individually or all of the loans total.</p>
