@model Pandaloan.Models.User

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron-blue">
    @using (Html.BeginForm("login", "User")) {
        <table>
            <tr>
                <th>Email: @Html.EditorFor(model => model.email) </th>
                <th>Password: @Html.EditorFor(model => model.password) </th>
                <th><input type="submit" value="Submit"/></th>
            </tr>
        </table>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lending $$$ Problems</h2>
        <p>
            <ul>
                <li>Have you ever lent money to a friend or family member only to never see that money again?</li>
                <li>Do you feel uncomfortable asking for someone to pay money back?</li>
                <li>Have you lost track of how much a friend of family member owes you?</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Let Pandaloan Help</h2>
        <p>Pandaloan.com will send a statement every month to the borrower reminding them to pay. Pandaloan.com will keep track of the balance of the loan and notify all parties.</p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>Best of all Pandaloan.com is free and easy to use. It only takes minutes to set up!!!</p>
        <p>@Html.ActionLink("Register", "Create", "User", new { }, null)</p>
    </div>
</div>