@model Pandaloan.Models.User
@{
    ViewBag.Title = "Relogin";
}

<br />
<h2>Please re-enter your username and password.</h2>
<br />
<div>
    @using (Html.BeginForm("login", "User"))
    {
        <table>
            <tr>
                <td>Email: &nbsp;&nbsp; @Html.EditorFor(model => model.email) &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>Password: &nbsp;&nbsp; @Html.EditorFor(model => model.password) &nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td><input type="submit" value="Submit" /></td>
            </tr>
            <tr>
                <td><br />Reset Password</td>
            </tr>
        </table>
        <br /><br />
    }
</div>

